Repository kaiosilva24/sistemarec, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seu-usuario, @especialista-financeiro, @especialista-estoque, @especialista-dashboard, @administrador-configuracoes, @documentador

.github/CODEOWNERS:

# Este arquivo define os proprietários de diferentes partes do código
# Os proprietários serão automaticamente solicitados para revisão quando alguém abrir um pull request

# Proprietários padrão para todo o repositório
* @seu-usuario

# Proprietários específicos para diferentes diretórios
/src/components/financial/ @especialista-financeiro
/src/components/stock/ @especialista-estoque
/src/components/dashboard/ @especialista-dashboard

# Arquivos de configuração
*.json @administrador-configuracoes
*.js @administrador-configuracoes
*.ts @administrador-configuracoes

# Documentação
*.md @documentador

# Substitua os nomes de usuário acima pelos nomes de usuário reais do GitHub dos membros da sua equipe

Assistant checkpoint: Remover seção de lucro empresarial das configurações
  src/components/settings/SettingsDashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Adicionar aba Lucro Empresarial nas configurações
  src/components/settings/SettingsDashboard.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Sincronizar valor empresarial em tempo real no dashboard
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Restored to '9e34c046b24edf15790e1a3693890f2b8bf1fd3b'
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Implementar sincronização em tempo real do valor empresarial
  src/components/pages/dashboard.tsx
  src/components/settings/SettingsDashboard.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Implementar cálculo automático do valor empresarial
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Restored to '0565f4ef485a8dc9c515b8e9de3c3fc6c850abbd'
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Incluir produtos revenda no valor empresarial
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Corrigir sincronização valor empresarial com produtos de revenda
  src/components/pages/dashboard.tsx
  src/components/settings/SettingsDashboard.tsx
Owners: @seu-usuario

Restored to '9e34c046b24edf15790e1a3693890f2b8bf1fd3b'
  src/components/pages/dashboard.tsx
  src/components/settings/SettingsDashboard.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Corrigir sincronização do valor empresarial
  src/components/pages/dashboard.tsx
  src/components/settings/SettingsDashboard.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Corrigir sincronização valor empresarial com produtos revenda
  src/components/pages/dashboard.tsx
  src/components/stock/ResaleProductsStock.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @especialista-estoque, @administrador-configuracoes

Assistant checkpoint: Corrigir sincronização do valor empresarial
  src/components/pages/dashboard.tsx
  src/components/settings/SettingsDashboard.tsx
Owners: @seu-usuario

Restored to '2ddce1f3c6661b9f1eeae0f2d72aa17612d72e84'
  src/components/pages/dashboard.tsx
  src/components/settings/SettingsDashboard.tsx
  src/components/stock/ResaleProductsStock.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @especialista-estoque, @administrador-configuracoes

Restored to '530533ef8d146c667b7813e0df3e4c244b702cd1'
  src/components/pages/dashboard.tsx
  src/components/settings/SettingsDashboard.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Corrigir sincronização de métricas do dashboard
  src/components/pages/dashboard.tsx
  src/hooks/useMetrics.ts
  src/types/metrics.ts
Owners: @seu-usuario, @administrador-configuracoes

Restored to '13e8f0889c4653ced9aa05d45a6857289999699f'
  src/components/pages/dashboard.tsx
  src/components/settings/SettingsDashboard.tsx
  src/components/stock/ResaleProductsStock.tsx
  src/hooks/useMetrics.ts
  src/types/metrics.ts
  src/utils/dataManager.ts
Owners: @seu-usuario, @especialista-estoque, @administrador-configuracoes

Restored to '4b067f5a797159a45ebcdd7253145836579dd58b'
  src/components/pages/dashboard.tsx
  src/components/settings/SettingsDashboard.tsx
  src/components/stock/ResaleProductsStock.tsx
  src/hooks/useMetrics.ts
  src/types/metrics.ts
  src/utils/dataManager.ts
Owners: @seu-usuario, @especialista-estoque, @administrador-configuracoes

Checkpoint before assistant change: Fix error caused by inconsistent hook usage in the dashboard
  attached_assets/Pasted-chunk-W6L2VRDA-js-v-30e1628b-521-Warning-React-has-detected-a-change-in-the-order-of-Hooks-called-b-1754679654667_1754679654668.txt
Owners: @seu-usuario

Recuperar estado após desfazer revert
  attached_assets/Pasted-chunk-W6L2VRDA-js-v-30e1628b-521-Warning-React-has-detected-a-change-in-the-order-of-Hooks-called-b-1754679654667_1754679654668.txt
  src/components/pages/dashboard.tsx
  src/components/settings/SettingsDashboard.tsx
  src/hooks/useMetrics.ts
  src/types/metrics.ts
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Corrigir configuração vercel.json - remover referências de segredos
  vercel.json
Owners: @administrador-configuracoes

Corrigir build para deploy - remover verificação TypeScript e configurar Vite
  package.json
  vite.config.ts
Owners: @administrador-configuracoes

Corrigir problema do logo que sumiu após deploy - usar import correto em todos os componentes
  src/components/dashboard/layout/Sidebar.tsx
  src/components/pages/dashboard.tsx
Owners: @especialista-dashboard, @seu-usuario

Implementar registro automático diário do custo por pneu - salva automaticamente e atualiza valores existentes a cada 30 minutos
  src/components/financial/TireCostManager.tsx
Owners: @especialista-financeiro

Fix: Corrigir gráfico de custo por pneu - mostrar valores 0 para dias sem registros
  src/components/financial/TireCostManager.tsx
Owners: @especialista-financeiro

Fix: Corrigir gráfico de custo por pneu - mostrar valores 0 para dias sem registros - sistema completo atualizado
  netlify.toml
  windsurf_deployment.yaml
Owners: @seu-usuario
