Repository kaiosilva24/sistemarec, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seu-usuario, @especialista-financeiro, @especialista-estoque, @especialista-dashboard, @administrador-configuracoes, @documentador

.github/CODEOWNERS:

# Este arquivo define os proprietários de diferentes partes do código
# Os proprietários serão automaticamente solicitados para revisão quando alguém abrir um pull request

# Proprietários padrão para todo o repositório
* @seu-usuario

# Proprietários específicos para diferentes diretórios
/src/components/financial/ @especialista-financeiro
/src/components/stock/ @especialista-estoque
/src/components/dashboard/ @especialista-dashboard

# Arquivos de configuração
*.json @administrador-configuracoes
*.js @administrador-configuracoes
*.ts @administrador-configuracoes

# Documentação
*.md @documentador

# Substitua os nomes de usuário acima pelos nomes de usuário reais do GitHub dos membros da sua equipe

Restored to '14d0e558d398b4cfb830548ce9de9de3957b9c1b'
  package-lock.json
  package.json
  src/components/sales/SalesDashboard.tsx
  src/hooks/useDataPersistence.ts
  src/types/financial.ts
  src/utils/dataManager.ts
  supabase/migrations/20240322000025_create_installment_sales_table.sql
Owners: @administrador-configuracoes, @seu-usuario

Assistant checkpoint: Modificar sistema para não registrar vendas à prazo no caixa
  src/components/sales/SalesDashboard.tsx
Owners: @seu-usuario

Checkpoint before assistant change: Add a "Launch at Checkout" button to past due items in history
  attached_assets/Pasted--div-class-flex-items-center-justify-between-mb-3-div-class-flex-1-h4-class-text-white-font-m-1754636767974_1754636767975.txt
Owners: @seu-usuario

Assistant checkpoint: Adicionar botão 'Lançar no Caixa' para vendas à prazo
  src/components/sales/SalesDashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Corrigir botão Lançar no Caixa para usar valor real
  src/components/sales/SalesDashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Corrigir função updateCashFlowEntry ausente
  src/components/sales/SalesDashboard.tsx
  src/hooks/useDataPersistence.ts
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Restored to '0dc1ba64262a83e5c9d48e67f93308a2886a17ab'
  src/components/sales/SalesDashboard.tsx
  src/hooks/useDataPersistence.ts
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Restored to '997e2b2c35ae109ea387449347c841a45f04cda2'
  attached_assets/Pasted--div-class-flex-items-center-justify-between-mb-3-div-class-flex-1-h4-class-text-white-font-m-1754636767974_1754636767975.txt
  src/components/sales/SalesDashboard.tsx
Owners: @seu-usuario

Restored to '23868fefac524a143ec7346ccb90df6836663460'
  attached_assets/Pasted--div-class-flex-items-center-justify-between-mb-3-div-class-flex-1-h4-class-text-white-font-m-1754636767974_1754636767975.txt
  src/components/sales/SalesDashboard.tsx
  src/hooks/useDataPersistence.ts
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Adicionar método updateCashFlowEntry ao DataManager
  src/utils/dataManager.ts
Owners: @administrador-configuracoes

Assistant checkpoint
  src/components/pages/dashboard.tsx
  src/hooks/useDataPersistence.ts
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Restored to '19ff23f556b14f02676acb36377d57760cb73344'
  src/components/pages/dashboard.tsx
  src/hooks/useDataPersistence.ts
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Implementar sincronização em tempo real do saldo de caixa
  src/components/pages/dashboard.tsx
  src/hooks/useDataPersistence.ts
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Corrigir sincronização do custo médio por pneu via Supabase
  src/components/pages/dashboard.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Substituir card por Valor a Receber de vendas à prazo
  src/components/sales/SalesDashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Reposicionou card Valor a Receber ao lado do Qtd. Vendida (Revenda)
  src/components/sales/SalesDashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Remover aba Produtos do SalesDashboard
  src/components/sales/SalesDashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Remove 'Unidade' do card Qtd. Total Produtos Finais
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Reverter cor do card para a cor original
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Remover card Receita Total do dashboard
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Adicionar card Valor Empresarial sincronizado
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Criar gráfico lucro empresarial com filtro data
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Restored to '36b937ea7a1a7266cb2fca1d46915408fe93c7ea'
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Adicionar gráfico de lucro empresarial com filtro de data
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Criado sistema de Configurações com Lucro Empresarial
  sql/create_system_settings.sql
  src/components/dashboard/layout/Sidebar.tsx
  src/components/pages/dashboard.tsx
  src/components/settings/SettingsDashboard.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @especialista-dashboard, @administrador-configuracoes

Restored to 'cc4861a249e39b617fd83d9e15604d15a84cb433'
  sql/create_system_settings.sql
  src/components/dashboard/layout/Sidebar.tsx
  src/components/pages/dashboard.tsx
  src/components/settings/SettingsDashboard.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @especialista-dashboard, @administrador-configuracoes

Assistant checkpoint: Sistema de configurações criado com lucro empresarial
  src/components/dashboard/layout/Sidebar.tsx
  src/components/pages/dashboard.tsx
  src/components/settings/SettingsDashboard.tsx
  src/utils/dataManager.ts
Owners: @especialista-dashboard, @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Corrigir mapeamento do botão Configurações
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Adicionar import do SettingsDashboard
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Checkpoint before assistant change: Add a prominent card to display business profit next to the chart
  attached_assets/Pasted--div-class-p-6-pt-0-div-class-w-full-style-width-790px-height-260px-div-class-recharts--1754671406957_1754671406958.txt
Owners: @seu-usuario

Assistant checkpoint: Adicionado card destacado de Lucro Empresarial ao lado do gráfico
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Checkpoint before assistant change: Fix error when displaying company profit charts
  attached_assets/Pasted-chunk-W6L2VRDA-js-v-30e1628b-14032-The-above-error-occurred-in-the-EmpresarialProfitChart-componen-1754671601300_1754671601302.txt
Owners: @seu-usuario

Assistant checkpoint: Adicionar função formatCurrency e import TrendingDown
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Restored to 'f1364fdbcff60616a0abe71ac8a603086fbf5126'
  attached_assets/Pasted--div-class-p-6-pt-0-div-class-w-full-style-width-790px-height-260px-div-class-recharts--1754671406957_1754671406958.txt
  attached_assets/Pasted-chunk-W6L2VRDA-js-v-30e1628b-14032-The-above-error-occurred-in-the-EmpresarialProfitChart-componen-1754671601300_1754671601302.txt
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Substituir lucro por valor empresarial com registro
  src/components/settings/SettingsDashboard.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Restored to 'f0d09c3c8b3a436b6c3e70360388662d3b3d38f3'
  attached_assets/Pasted--div-class-p-6-pt-0-div-class-w-full-style-width-790px-height-260px-div-class-recharts--1754671406957_1754671406958.txt
  attached_assets/Pasted-chunk-W6L2VRDA-js-v-30e1628b-14032-The-above-error-occurred-in-the-EmpresarialProfitChart-componen-1754671601300_1754671601302.txt
  src/components/pages/dashboard.tsx
  src/components/settings/SettingsDashboard.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Corrigir erro sintaxe e implementar valor empresarial
  src/components/settings/SettingsDashboard.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Restored to 'f0d09c3c8b3a436b6c3e70360388662d3b3d38f3'
  src/components/settings/SettingsDashboard.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Restored to 'f1364fdbcff60616a0abe71ac8a603086fbf5126'
  attached_assets/Pasted--div-class-p-6-pt-0-div-class-w-full-style-width-790px-height-260px-div-class-recharts--1754671406957_1754671406958.txt
  attached_assets/Pasted-chunk-W6L2VRDA-js-v-30e1628b-14032-The-above-error-occurred-in-the-EmpresarialProfitChart-componen-1754671601300_1754671601302.txt
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Checkpoint before assistant change: Update financial reporting to show average profit per tire
  attached_assets/Pasted--div-class-p-6-pt-0-space-y-6-div-class-grid-grid-cols-1-md-grid-cols-2-gap-6-div-class-space-1754673658103_1754673658105.txt
Owners: @seu-usuario
