Repository kaiosilva24/sistemarec, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seu-usuario, @especialista-financeiro, @especialista-estoque, @especialista-dashboard, @administrador-configuracoes, @documentador

.github/CODEOWNERS:

# Este arquivo define os proprietários de diferentes partes do código
# Os proprietários serão automaticamente solicitados para revisão quando alguém abrir um pull request

# Proprietários padrão para todo o repositório
* @seu-usuario

# Proprietários específicos para diferentes diretórios
/src/components/financial/ @especialista-financeiro
/src/components/stock/ @especialista-estoque
/src/components/dashboard/ @especialista-dashboard

# Arquivos de configuração
*.json @administrador-configuracoes
*.js @administrador-configuracoes
*.ts @administrador-configuracoes

# Documentação
*.md @documentador

# Substitua os nomes de usuário acima pelos nomes de usuário reais do GitHub dos membros da sua equipe

Checkpoint before assistant change: Organize dashboard cards and add new material cost tracking
  .env.example
  package-lock.json
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Implementar card Matéria Prima Unitária com layout 3x3
  src/components/pages/dashboard.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Sincronizar card Matéria Prima Unitária via Supabase
  src/components/pages/dashboard.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Atualizar card para mostrar quantidade unitária de matéria-prima
  src/components/pages/dashboard.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Implementar card quantidade total produtos finais
  src/components/pages/dashboard.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Implementar sincronização da quantidade total de produtos finais
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Reorganizar cards para layout 3x3
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Adicionar card Qtd. Total Produtos Revenda com sync Supabase
  src/components/pages/dashboard.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Sincronizar quantidade produtos revenda com valor 140
  src/components/pages/dashboard.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Restored to 'be5aa02bc48c98d3dfba9d2aaaa16e5e5c84237a'
  src/components/pages/dashboard.tsx
  src/utils/dataManager.ts
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Implementar sincronização tempo real para quantidade produtos revenda
  src/components/stock/ResaleProductsStock.tsx
  src/utils/dataManager.ts
Owners: @especialista-estoque, @administrador-configuracoes

Assistant checkpoint: Atualizar cores e ícones dos cards para consistência
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Remover descrições dos cards do dashboard
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Atualizar ícones dos cards para usar os mesmos dos cards de custo/lucro
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Atualizar cores dos cards para serem distintas
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Corrigir fundo colorido do ícone matéria prima
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Remover título e subtítulo do dashboard
  src/components/pages/dashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Adicionar seleção de forma de pagamento nas vendas
  src/components/financial/CashFlowManager.tsx
  src/components/sales/SalesDashboard.tsx
Owners: @especialista-financeiro, @seu-usuario

Restored to '9abcc392f523562ebceab530105c0d45fdbea393'
  src/components/financial/CashFlowManager.tsx
  src/components/sales/SalesDashboard.tsx
Owners: @especialista-financeiro, @seu-usuario

Assistant checkpoint: Adicionar seleção de forma de pagamento no caixa
  src/components/sales/SalesDashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Atualizar opções de pagamento: remover transferência e outros, adicionar à prazo
  src/components/sales/SalesDashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Adicionar forma de pagamento no histórico de vendas
  src/components/sales/SalesDashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Adicionar filtros de forma de pagamento aos históricos
  src/components/sales/SalesDashboard.tsx
Owners: @seu-usuario

Restored to 'fbb6114f2df7a1d27d54ad0d59608349b47925b7'
  src/components/sales/SalesDashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Implementar filtros de pagamento nos históricos
  src/components/sales/SalesDashboard.tsx
Owners: @seu-usuario

Restored to 'f8e457a281d17ddae772b6155e448484716b9d40'
  src/components/sales/SalesDashboard.tsx
Owners: @seu-usuario

Checkpoint before assistant change: Fix error when filtering sales data on the dashboard
  attached_assets/Pasted-SalesDashboard-tsx-284-Uncaught-ReferenceError-Cannot-access-extractPaymentMethodFromSale-before--1754630335439_1754630335440.txt
Owners: @seu-usuario

Assistant checkpoint: Corrigir ordem de declaração das funções extract
  src/components/sales/SalesDashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Implementar sistema de contas a receber para vendas a prazo
  src/components/sales/SalesDashboard.tsx
  src/hooks/useDataPersistence.ts
  src/types/financial.ts
  src/utils/dataManager.ts
  supabase/migrations/20240322000025_create_accounts_receivable_table.sql
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Adicionar função useWarrantyEntries faltante
  src/hooks/useDataPersistence.ts
Owners: @administrador-configuracoes

Assistant checkpoint: Implementar vendas à prazo em contas a receber com botão verde
  src/components/sales/SalesDashboard.tsx
Owners: @seu-usuario

Restored to 'f7c1e04cb1b261a4e22a8df3ff20b3eb3c6f3226'
  src/components/sales/SalesDashboard.tsx
Owners: @seu-usuario

Assistant checkpoint: Implementar sistema de vendas à prazo separado do caixa
  src/components/sales/SalesDashboard.tsx
Owners: @seu-usuario

Restored to '14d0e558d398b4cfb830548ce9de9de3957b9c1b'
  src/components/sales/SalesDashboard.tsx
  src/hooks/useDataPersistence.ts
  src/types/financial.ts
  src/utils/dataManager.ts
  supabase/migrations/20240322000025_create_accounts_receivable_table.sql
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Implementar sistema de contas a receber para vendas à prazo
  src/components/sales/SalesDashboard.tsx
  src/hooks/useDataPersistence.ts
  src/types/financial.ts
  src/utils/dataManager.ts
  supabase/migrations/20240322000025_create_accounts_receivable_table.sql
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Corrigir exportação do dataManager
  src/utils/dataManager.ts
Owners: @administrador-configuracoes

Assistant checkpoint: Corrigir exportações do dataManager removendo código React
  src/utils/dataManager.ts
Owners: @administrador-configuracoes

Restored to '14d0e558d398b4cfb830548ce9de9de3957b9c1b'
  src/components/sales/SalesDashboard.tsx
  src/hooks/useDataPersistence.ts
  src/types/financial.ts
  src/utils/dataManager.ts
  supabase/migrations/20240322000025_create_accounts_receivable_table.sql
Owners: @seu-usuario, @administrador-configuracoes

Assistant checkpoint: Implementar sistema de vendas à prazo
  src/components/sales/SalesDashboard.tsx
  src/hooks/useDataPersistence.ts
  src/types/financial.ts
  src/utils/dataManager.ts
  supabase/migrations/20240322000025_create_installment_sales_table.sql
Owners: @seu-usuario, @administrador-configuracoes

Checkpoint before assistant change: Add data fetching library to improve application performance
  package-lock.json
  package.json
Owners: @administrador-configuracoes
